* {
  text-align: center;
}
body{
  margin-top: 6%;
  font-family: 'Nunito', sans-serif;
}

#albumArt {
  width: 13em;
  height: 13em;
  border-radius: 5%;
  margin: 2% auto;
  background-image: url('img/not_playing.jpg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* box-shadow: 0 2px 2px; */
}

button {
  padding: .3em;
  padding-top: .5em;
  font-size: 37px;
  text-align: center;
  margin: 0 1%;
  margin-top: 3%;
  /* background-color: gray; */
  border: none;
  text-decoration: none;
  transition: .4s;
  border-radius: 50%;
  outline: none;
}

#playButton, #pause {
  font-size: 45px;
}

#currentSong, #artistAndAlbum {
  font-size: 1.5em;
  margin: 0;
}

#currentSong {
  font-weight: bold;
  margin-top: 5%;
}

#artistAndAlbum {
  color: #FF2C55;
}

/* #fastforward{
  left: 400px;
  top: 350px;
} */
